<h1>Add a contact:</h1>
<br>
<form action="/contacts/added" method="post">
  <label for="name">Contact Name</label>
  <input id="name" name="name" type="text">
  <label for="phoneNumber">Phone Number</label>
  <input id="phoneNumber" name="phoneNumber" type="text">
  <label for="address">Address</label>
  <input id="address" name="address" type="text">
  <button type="submit">Add Contact</button>
</form>
<p><a href="/">Return to contact list</a>
