<h1>You created a contact!</h1>
<ul>
  <li>Name: @Model.GetName()</li>
  <li>Phone Number: @Model.GetPhoneNumber()</li>
  <li>Address: @Model.GetAddress()
<ul>
<p><a href="/contacts">Return to contact list</a></p>
